footer
  .container.text-center
    p.pull-left © 2016 Collapsar. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/scriptgadget/jumbo-bot-website') GitHub Project
      li
        a(href='https://github.com/scriptgadget/jumbo-bot-website/issues') Issues
