extends layout

block content
  div.landing
    h1 Jumbo Bot
    p.lead Never Forget Again
    hr
    .row
      .col-sm-12
        h2 Easy
        p Tired of forgetting important things. Let Jumbo Bot remember for you!
    hr
    .row.col-sm-12.col-md-offset-5.col-md-3
        a(href='/account/memories')
          button.btn.btn-primary
            i.fa.fa-plus
            | Remember Something